<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- GAE ADMIN FILTER: ADMIN LOGIN -->

	<filter>
		<filter-name>adminlogin</filter-name>
		<filter-class>parkingspot.gae.servlet.AdminLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>adminlogin</filter-name>
		<url-pattern>/gae/admin/*</url-pattern>
	</filter-mapping>

	<!-- GAE ADMIN SERVLET: ADMIN PROFILE -->

	<servlet>
		<servlet-name>AddAdminProfileServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.AddAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdminProfileServlet</servlet-name>
		<url-pattern>/gae/admin/addAdminProfileCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAdminProfileServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.DeleteAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAdminProfileServlet</servlet-name>
		<url-pattern>/gae/admin/deleteAdminProfileCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateAdminProfileServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.UpdateAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAdminProfileServlet</servlet-name>
		<url-pattern>/gae/admin/updateAdminProfileCommand</url-pattern>
	</servlet-mapping>


	<!-- GAE ADMIN SERVLET: CAMPUS -->

	<servlet>
		<servlet-name>AddCampusServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.AddCampusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCampusServlet</servlet-name>
		<url-pattern>/gae/admin/addCampusCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteCampusServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.DeleteCampusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCampusServlet</servlet-name>
		<url-pattern>/gae/admin/deleteCampusCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateCampusServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.UpdateCampusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCampusServlet</servlet-name>
		<url-pattern>/gae/admin/updateCampusCommand</url-pattern>
	</servlet-mapping>

	<!-- GAE ADMIN SERVLET: LOT -->

	<servlet>
		<servlet-name>AddLotServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.AddLotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLotServlet</servlet-name>
		<url-pattern>/gae/admin/addLotCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteLotServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.DeleteLotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLotServlet</servlet-name>
		<url-pattern>/gae/admin/deleteLotCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateLotServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.UpdateLotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLotServlet</servlet-name>
		<url-pattern>/gae/admin/updateLotCommand</url-pattern>
	</servlet-mapping>


	<!-- GAE ADMIN SERVLET: PERMIT -->

	<servlet>
		<servlet-name>AddPermitServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.AddPermitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPermitServlet</servlet-name>
		<url-pattern>/gae/admin/addPermitCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeletePermitServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.DeletePermitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePermitServlet</servlet-name>
		<url-pattern>/gae/admin/deletePermitCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdatePermitServlet</servlet-name>
		<servlet-class>parkingspot.gae.servlet.UpdatePermitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePermitServlet</servlet-name>
		<url-pattern>/gae/admin/updatePermitCommand</url-pattern>
	</servlet-mapping>


	<!-- JDO ADMIN FILTER: ADMIN LOGIN -->

	<filter>
		<filter-name>adminJDOlogin</filter-name>
		<filter-class>parkingspot.jdo.servlet.AdminLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminJDOlogin</filter-name>
		<url-pattern>/jdo/admin/*</url-pattern>
	</filter-mapping>

	<!-- JDO ADMIN SERVLET: ADMIN PROFILE -->

	<servlet>
		<servlet-name>AddAdminProfileJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.AddAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdminProfileJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/addAdminProfileCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAdminProfileJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.DeleteAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAdminProfileJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/deleteAdminProfileCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateAdminProfileJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.UpdateAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAdminProfileJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/updateAdminProfileCommand</url-pattern>
	</servlet-mapping>




	<!-- JDO ADMIN SERVLET: CAMPUS -->

	<servlet>
		<servlet-name>AddCampusJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.AddCampusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCampusJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/addCampusCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteCampusJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.DeleteCampusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCampusJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/deleteCampusCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateCampusJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.UpdateCampusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCampusJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/updateCampusCommand</url-pattern>
	</servlet-mapping>

	<!-- JDO ADMIN SERVLET: LOT -->

	<servlet>
		<servlet-name>AddLotJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.AddLotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLotJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/addLotCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteLotJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.DeleteLotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLotJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/deleteLotCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateLotJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.UpdateLotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLotJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/updateLotCommand</url-pattern>
	</servlet-mapping>

	<!-- JDO ADMIN SERVLET: PERMIT -->

	<servlet>
		<servlet-name>AddPermitJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.AddPermitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPermitJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/addPermitCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeletePermitJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.DeletePermitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePermitJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/deletePermitCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdatePermitJDOServlet</servlet-name>
		<servlet-class>parkingspot.jdo.servlet.UpdatePermitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePermitJDOServlet</servlet-name>
		<url-pattern>/jdo/admin/updatePermitCommand</url-pattern>
	</servlet-mapping>



</web-app>
